.container{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header{ 
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.search{
    display: flex; 
    align-items: center;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1.5em;
}

.search input{
    border: none;
    background-color: rgb(207, 207, 207);
}

.search input:focus{
    outline: none;
}

.notes-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* automaticall resize the columns based on column size, a column cannot be smaller than 250px and no bigger than 1 fractional unit */
    
}

.dark-mode{
    background-color: black;
}

.dark-mode h1{
    color: white;
}

.note{
    background-color: #fff89b;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* this means keep any spacing that was added to the text */
    white-space: pre-wrap; 
}

.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-icon{
    cursor:pointer;
}

textarea{
    border: none;
    resize: none;
    background-color: rgb(118, 230, 187);
}

textarea:focus{
    outline: none;
}

.save{
    background-color: rgb(165, 165, 165);
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.save:hover{
    background-color: rgb(212, 212, 212) ;
    cursor: pointer;
}

.note.new{
    background-color: rgb(118, 230, 187);
}